@charset "UTF-8";



img { display: block; margin: 0px auto; }


* {
    box-sizing: border-box; /* 길이 계산을 편하게 하기위함. */
  }
  body {
    margin: 0; 				/* body의 기본마진 X(선택사항) */
    font-family: sans-serif;
  }
  a {
    text-decoration: none;
    color: #888;
  }
  a:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄 생성 */
  }
  header {
  	background: #e6e6e6;;
    margin: auto;		 /* header의 양쪽 여백(margin)을 동등하게 맞춤
    						 -> 수평가운데정렬 */
    height: 215px;
    display: flex;
    align-items: center; /* 하위 요소들 수직 가운데정렬 */
    position: relative;
  }
  
  

  .links { /* 링크들을 상단 우측에 위치*/
    position: absolute;
    top: 0;
    right: 0;
  }
  .link_text {
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ft {
  	font-size: 20px;
    margin:0 auto;	/* 가운데 정렬 */
  }
  
  

  /* nav */
  header > nav {
    width: 100%;
    height: 45px;
    position: absolute;
    font-size: 20px;
    bottom: 0;
  }
  .nav_items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid #f1f3f6;
  }
  .nav_items ul > li {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nav_items ul > li:nth-child(-n + 7) > a { /* <ul>하위 7번째 <li>까지 각각 내부의 <a> 태그 접근 */
    color: #404040;
  }
  .nav_items ul > li > a {
    text-decoration: none;
    cursor: pointer;
  }
  


  /* 재사용 클래스 */
  .color_foo {
    color: #e68a00;
  }