@charset "EUC-KR";

/* @font-face { */
/*     font-family: 'GmarketSansMedium'; */
/*     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* #subject{ */
/* 	font-family: 'GmarketSansMedium'; */
/* 	color: black; */
/* } */

#subject{
	font-family: 'OTWelcomeRA';
	color: black;
}

#gum {
  position: relative;
  width: 300px;
}
.input_box {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.btn {
  position: absolute;
  right: 3px; 
/*   top: 0.3px; */
  bottom: 1px;
  border: 0;
  background: #ff4742;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}

#geul{
/* 	margin-top: 10px; */
margin-bottom: 20px;
}