@charset "UTF-8";

/* questionMain.jsp */
.conta {
	display: flex;
	justify-content: center
}
.box {
	margin: 25px;
	top: 50%;
	left: 50%;
}
.dvh {
	text-align: center;
	margin-bottom: 30px;
}

/* questionList.jsp */
.question {
	display: flex;
	justify-content: center
}
.field {
	width: 50%;
	text-align: center;
}

/* result.jsp*/
.box2 {
	display: flex;
	justify-content: center;
	margin: 25px;
}
.conta2 {
	display: flex;
	justify-content: center
}
.h {
	text-align: center;
}
.box3 {
	display: flex;
	justify-content: center
}

/* 버튼 디자인 추가 */

.btn-1 {
	background-color: #fd9991;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size:x-large;
	font-weight: bold;
}
.btn-1:hover {
	color: #fb5849;
}
.btn-2 {
	background-color: #fd9991;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size:medium;
	font-weight: bold;
}
.btn-2:hover {
	color: #fb5849;
}

/* 버튼 디자인 추가 */
/* questionMain 버튼에 전부 div 추가하고 class 이름 추가. 디자인 임시 적용 */

/* 지니 결과 위치 조정 및 글씨 크기 조정 */
.questionResult {
	margin-left: 40px;
	margin-top: 40px;
	font-size: 16px;
}
/* 지니 결과 위치  및 글씨 크기 조정 */