@charset "UTF-8";

/* questionMain.jsp */
.conta {
	display: flex;
	justify-content: center
}
.box {
	margin: 25px;
	top: 50%;
	left: 50%;
}
.dvh {
	text-align: center;
}

/* questionList.jsp */
.question {
	display: flex;
	justify-content: center
}
.field {
	width: 50%;
	text-align: center;
}

/* result.jsp*/
.box2 {
	display: flex;
	justify-content: center;
	margin: 25px;
}
.conta2 {
	display: flex;
	justify-content: center
}
.h {
	text-align: center;
}
.box3 {
	display: flex;
	justify-content: center
}