<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FOOEATING</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  
  <!-- 관리자 매핑 -->
  <servlet>
  	<servlet-name>AdminFrontController</servlet-name>
  	<servlet-class>com.fooeating.controller.AdminFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminFrontController</servlet-name>
  	 <url-pattern>*.ad</url-pattern>
  </servlet-mapping>
   <!-- 관리자 매핑 -->


  <!-- 회원 매핑 -->
  <servlet>
  	<servlet-name>MemberFrontController</servlet-name>
  	<servlet-class>com.fooeating.controller.MemberFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MemberFrontController</servlet-name>
  	<url-pattern>*.foo</url-pattern>
  </servlet-mapping>
  
  <!-- 회원 매핑 -->
  
  <!-- 점주 매핑 -->
   <servlet>
  	<servlet-name>RestaurantFrontController</servlet-name>
  	<servlet-class>com.fooeating.action.RestaurantFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RestaurantFrontController</servlet-name>
  	<url-pattern>*.on</url-pattern>
  </servlet-mapping>
<!-- 점주 매핑 -->
</web-app>